body{
    background-color: black;
    overflow-x: hidden;
}

.top-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.logo span{
    position: relative;
    top:-23px;
}
.logo img{
    width:160px;
}

.link span{
    color: white;
    cursor: pointer;
    padding: 10px;
}

.contanier{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:  20px ;
    padding: 50px 30px;
}

.videoElements{
    height: 280px;
    border-radius: 5px;
    display: flex;
    flex-flow: column ;
    position: relative ;
}

.videoElements > b {
    position: absolute;
    /* bottom: 55px; */
    right: 12px;
    background-color: black;
    padding: 1px;
    border-radius: 5px;
    font-weight: 600;
    color: white ;
    font-size: 14px;
    top: calc( 70% - 60px);
    padding: 2px 5px;
}

.videoElements >img{
    border-radius: 6px;
    width: 280px;
    height: 70%;
    cursor: pointer;
    transition: 0.3s ;
    background-size: cover;
}
.videoElements > img:hover {
    transform: scaleX(1.01) ;
}


.channer-title{
    font-weight: 800;
    color: #ffffff ;
    font-size: 14px;
    margin-top: 1px;
}
.channel-name{
    color: rgb(187, 187, 187) ;
    font-size: 13px;
    position: absolute;
    bottom: 1px; 

}
.view-count {
    color: rgb(187, 187, 187) ;
    font-size: 12px;
    position: absolute;
    bottom: -14px;
}

.search-container {
    width: 60%; 
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 40px;
}
.search-container  > input {
    flex-grow: 1;
    border: none ;
    padding: 0px 20px;
    border-radius: 19px;
}
.search-container  > input:focus {
    outline : none ;
}
.search-container > button {
    border: none ;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white ;
    outline: 2px solid gray ;
    height: 38px;
    border-radius: 15px;
    padding: 0 15px;
}










/* -------------media ------- */


@media screen and (max-width:520px){
    .top-container{
        display: flex;
        flex-direction: column;
    }
    .link span{
        display: none;
    }

    .logo span{
        position: relative;
        top:-35px;
    }
    .logo img{
        width:50%;
    }
    .contanier{
        display: grid;
        grid-template-columns: 1fr;
        gap:  20px ;
        padding: 50px 10px;
    }

    /* .videoElements{
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-flow: column ;
        position: relative ;
    } */
    
    .videoElements >img{
        border-radius: 6px;
        width:100%;
        height: 80%;
        cursor: pointer;
        transition: 0.1s ;
        background-size: cover;
    }

    .channel-name{
        color: rgb(187, 187, 187) ;
        font-size: 13px;
        position: absolute;
        bottom: -10px; 
    
    }
    .view-count {
        color: rgb(187, 187, 187) ;
        font-size: 12px;
        position: absolute;
        bottom: -26px;
    }

    .search-container {
        display: flex;
        justify-content: space-evenly;
    }

    .search-container #inp{
        width:300px;
    }
}